$lightblue: #38AEF0;
$white:#FFFFFF;
$messages-contents:#fafafa;
$messages-infos-border: #eeeeee;
$messages-infos-groupname:#333333;
$message-contents-group-user:#434A54;
$message-contents-group-day:#999999;
$forms:#DDDDDD;
$sidebar-header:#253141;
$sidebar-group: #2f3e51;